<!DOCTYPE html>
<html>
<head>
  <title>PetsVilla</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% unless flash.empty? %>
  <script type="text/javascript">
    <% flash.each do |f| %>
      // flash[:notice] = "Signed in successfully"
      // f[0] = :notice, f[1] = "Signed in successfully"
      // use toastr to display a toast for info, success, warning or error
      //gsub : toastrの書式に変換するためのもの
      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
      toastr['<%= type %>']('<%= f[1] %>');
    <% end %>
  </script>
<% end %>

</body>
</html>
